<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alunos do IFRN</title>
  </head>
  <body>
    {% block header %}
      <header>
        <h1>Alunos do IFRN</h1>

        <ul>
          <li>
            <a href="criar/">Novo aluno</a>
          </li>
          <li>
            <a href="/">Listar alunos</a>
          </li>
        </ul>
      </header>
    {% endblock %}

    {% block content %}

    {% endblock %}
  </body>
</html>
